<div class="row">
    <div class="col-md-2">
      <div class="card-counter my-card-color ">
        <i class="fa fa-code-fork"></i>
        <h3 class="count-name">Clients</h3
        <h6 class="count-numbers">12</h6>
        
      </div>
    </div>
    <div class="col-md-2">
        <div class="card-counter my-card-color ">
          <i class="fa fa-code-fork"></i>
          <h3 class="count-name">Clients</h3
          <h6 class="count-numbers">12</h6>
          
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-counter my-card-color ">
          <i class="fa fa-code-fork"></i>
          <h3 class="count-name">Clients</h3
          <h6 class="count-numbers">12</h6>
          
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-counter my-card-color ">
          <i class="fa fa-code-fork"></i>
          <h3 class="count-name">Clients</h3
          <h6 class="count-numbers">12</h6>
          
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-counter my-card-color ">
          <i class="fa fa-code-fork"></i>
          <h3 class="count-name">Clients</h3
          <h6 class="count-numbers">12</h6>
          
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-counter my-card-color ">
          <i class="fa fa-code-fork"></i>
          <h3 class="count-name">Clients</h3
          <h6 class="count-numbers">12</h6>
          
        </div>
      </div>
   

     
  </div>