<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>


</head>

<body th:fragment="navbar">
  <nav class="navbar nav-header navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid py-2">

      <a class="navbar-brand nav-title" th:href="@{/}">Website</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/services}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/requests}" >Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/tests}" >Tests</a>
          </li>
        </ul>
<!--         <form class="d-flex my-search"> -->
<!--           <input class="form-control me-2 my-search-form" type="search" placeholder="Search" aria-label="Search"> -->
<!--           <button class="btn btn-outline-success my-search-btn" type="submit">Search</button> -->
<!--         </form> -->
        
        <div class="nav-buttons justify-end items-center" sec:authorize="isAnonymous()">
            <a class="mx-4 py-2 px-4 nav-button" th:href="@{/register}">Register</a>
            <a class="mx-4 py-2 px-4 nav-button" th:href="@{/login}">Login</a>
        </div>
        
        <div class="dropdown" sec:authorize="isAuthenticated()">
          <button class=" pl-5 ml-5 d-flex align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            <h5 class="mx-2 avatar-name" th:text="${user.userName}">User Name </h5>
            <img
                 th:src="@{${profileImage}}"
                  class="avatar" alt="" width="56px" height="23px">

          </button>
          <ul class="dropdown-menu my-dropdown" aria-labelledby="dropdownMenuButton1">
            <li class="my-dropdown-element px-4 py-2"> 
            	<a  th:if="${user != null}" th:href="@{/profile/{userId}(userId=${user.id})}">
                  My Profile
				</a>
			</li>
			<li class="my-dropdown-element px-4 py-2" sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/Admin/adminDashboard}">Dashboard</a></li>
            <li class="my-dropdown-element px-4 py-2" sec:authorize="hasAuthority('COACH')"><a th:href="@{/Coach/newService}">New Service</a></li>
            <li class="my-dropdown-element px-4 py-2" sec:authorize="hasAuthority('COACH')"><a th:href="@{/Coach/myServices}">My Services</a></li>
            <li class="my-dropdown-element px-4 py-2" sec:authorize="hasAnyAuthority('COACH','USER')"><a th:href="@{/User/newRequest}">New Request</a></li>
            <li class="my-dropdown-element px-4 py-2" sec:authorize="hasAnyAuthority('COACH','USER')"><a th:href="@{/User/myRequests}">My Requests</a></li>
            <li class="my-dropdown-element px-4 py-2" sec:authorize="hasAnyAuthority('COACH','USER')"><a th:href="@{/User/demandedTests}">My Demands</a></li>
            <li class="my-dropdown-element px-4 py-2" sec:authorize="hasAnyAuthority('TEACHER')"><a th:href="@{/Teacher/myTests}">My Tests</a></li>
            <li class="my-dropdown-element px-4 py-2" sec:authorize="hasAnyAuthority('TEACHER')"><a th:href="@{/Teacher/newTest}">New Test</a></li>
            <li class="my-dropdown-element px-4 py-2" sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/Admin/adminRequests}">Gérer Requests</a></li>
            <li class="my-dropdown-element px-4 py-2" sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/Admin/adminServices}">Gérer Services</a></li>
            <li class="my-dropdown-element px-4 py-2" sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/Admin/adminTests}">Gérer Tests</a></li>
            <li class="my-dropdown-element px-4 py-2" sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/Admin/adminAccounts}">Gérer Accounts</a></li>
            <li class="my-dropdown-element px-4 py-2">
              <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Out" id="logout-btn">
              </form>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
</body>

</html>