<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>403 ERROR</title>
<link rel="stylesheet" th:href="@{/error/css/403.css}">
</head>
<body>
<div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">403</span>
  <div class="text">
    <span class="hero-text"></span>
    <span class="msg">can't let <span>you</span> in.</span>
    <span class="support">
      <span>unexpected?</span>
      <span>Go <a th:href="@{/}">Home</a></span>
    </span>
  </div>
  <div class="lock"></div>
</div>
</body>
</html>

