<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>REGISTER</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="limiter">
		
		<div class="container" >
			<a th:href="@{/}"><span class="site-name">Website</span></a>
			<a th:href="@{/login}"><button class="switchbtn" > Login</button></a> 
			<div class="wrap">
	
				<form class="form validate-form" th:action="@{/addUser}" th:object="${user}" method="post">
					

					<span class="form-register-title p-b-34 p-t-27">
						Register
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter First name">
						<input class="input100 input" type="text" id="prenom" name="prenom" placeholder="First name" th:field="*{prenom}">
                        <!-- icon -->
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
                        
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "Enter Last name">
						<input class="input100 input" type="text" id="nom" name="nom" placeholder="Last name" th:field="*{nom}">
                        <!-- icon -->
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter Username">
						<input class="input100 input" type="text" id="username" name="username" placeholder="Username" th:field="*{userName}">
                        <!-- icon -->
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					
                    <div class="wrap-input100 validate-input" data-validate = "Enter Email">
						<input class="input100 input" type="email" id="email" name="email" placeholder="Email" th:field="*{email}">
                        <!-- icon -->
						<span class="focus-input100" data-placeholder="&#xf0e0;"></span>
					</div>

					<div >
						
						<input  type="radio" id="male" value="true" checked name="radio" th:field="*{male}">
						<label>Male</label>
						
						<input  type="radio" id="female" value="false" name="radio" th:field="*{male}">
						<label>Female</label>
						
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Enter Phone">
						<input class="input100 input" type="number" id="phone" name="phone" placeholder="(+216)" th:field="*{phone}">
                        <!-- icon -->
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Enter Adresse">
						<input class="input100 input" type="text" id="adresse" name="adresse" placeholder="Adresse" th:field="*{adresse}">
                        <!-- icon -->
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					
					 <div class="wrap-input100 validate-input" data-validate="Enter CurrentPost">
						<input class="input100 input" type="text" name="currentPost" placeholder="currentPost" th:field="*{currentPost}">
                        <!-- icon -->
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100 input" type="password" name="pass" placeholder="Password" th:field="*{password}">
                        <!-- icon -->
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
                    
                   
                    
                      <!-- I accept all agreement of this website -->
					<div class="contact100-form-checkbox validate-input" data-validate="check it please">
						<input class="input-checkbox100 input" id="ckb1" type="checkbox" name="accepet condition">
						<label class="label-checkbox100" for="ckb1">
							I accept all agreement of this website
						</label>
					</div>

					<div class="container-submit-form-btn">
						<input class="submit-form-btn" type="submit" value="Register">
					</div>


				</form>
			</div>
		</div>
	</div>
	

	
	

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>

	<script src="js/main.js"></script>

</body>
</html>