<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/Assets/public/style.css}">
    <link rel="stylesheet" th:href="@{/Assets/css/main-style.css}">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body id="serivces-page">

	<div th:replace="fragments/navbar :: navbar"></div>

    <!-- Intro Section  -->
    <div class="my-24">
        <div class="Srv flex justify-center">
            <p class="text-5xl ">Requests</p>
        </div>
			<div th:each="request : ${requests}">
				<Section class="Srv-section flex justify-center mt-12 pt-24 justify-around flex-wrap">
					<!-- Card -->
		            <div class="Srv-card w-9/12 rounded overflow-hidden my-4 flex justify-center items-center">
		                <div class="Req-face">
		                    <img th:src="@{${request.getImage().getPath()}}" ><!-- MABDE2YAN -->
		                </div>
		                <div>
		                <div class="Srv-text p-6 mt-14">
			                    <p class="text-2xl text-center font-bold t1" th:text="${request.titre}">
			                        REQUEST TITRE
			                    </p>
			                    <a th:href="@{/profile/{userId}(userId=${request.user.id})}" style="margin-left:40%">
			                    	<span class="text-2xl text-center font-bold t1 " th:text="${request.user.userName}">
						            	test owner username
									</span>
			                    </a>
			                    <p class="lg mt-8 t2" th:text="${request.description}">
			                        REQUEST DESCRPTION
			                    </p>
			                    
			                    <p class="lg mt-8 t2"  >
			                        Before <span th:text="${request.deadLine}" class="lg mt-8 t2"></span>
			                    </p>
			                </div>
			                <div class="Srv-Button p-4 flex justify-center">
			                    <a th:href="@{User/chat/{with}(with=${request.getUser().getId()})}" class="enroll-button py-2 px-12 text-xl font-medium">Contact</a>
			                </div>
			            </div>
		            </div>
		            <!-- End Card -->
	            </Section>
			</div>
    	</div>
    	
    <!-- End Intro Section  -->
  <div th:if="${requests == null or requests.size()== 0}" class="container d-flex justify-content-center align-items-center" style="padding:10rem">
    	<hr>
    	<span style="position:relative ; top:50%; color:black ; font-weight:bolder; font-size:30px ">No Requests Found!</span>
    </div>
</body>

</html>










