<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="./Assets/public/style.css">
    <link rel="stylesheet" href="./Assets/css/main-style.css">
	<link rel="stylesheet" href="/css/navbar.css">
</head>

<body id="serivces-page">
        
        <div th:replace="fragments/navbar :: navbar" ></div>
        
<!--         <form th:action="@{/search}" method="get" name="searchForm" th:value="${keyword}"> -->
<!-- 		  <div> -->
<!-- 		    <input type="search" id="keyword" name="keyword"> -->
<!-- 		    <input type="submit" value="Search" id="search-btn"> -->
<!-- 		  </div> -->
<!-- 		</form> -->
        
    <!-- Intro Section  -->
    <div class="my-24">
        <div class="Srv flex justify-center">
            <p class="text-5xl ">Services</p>
        </div>
	
	    
        <div class="Srv flex justify-left mt-5"   th:if="${ ratedServices != null and ratedServices.size() > 0}">
            <p class="text-3xl ">Rated Services :</p>
        </div>
        <Section class="Srv-section flex justify-center mt-12 pt-24 justify-around flex-wrap">
            
            <div th:each="gig : ${ratedServices}">
            	<!-- Card -->
	            <div class="Srv-card w-80 h-100 rounded overflow-hidden my-4">
	                <div class="Srv-img">
	                    
							<img th:src="@{${gig.getImage().getPath()}}" >
						
	                </div>
	                <div class="Srv-time px-2 py-1 mx-2 my-3">
	                <p   class="font-bold	" ><span th:text="${gig.prix}" style="padding:5px">Prix</span><span>DT</span></p>
	                </div>
	                <div class="Srv-face absolute">
	                    <img class="" th:src="@{${ gig.user.image.path }}" alt="">
	                </div>
	                <div class="Srv-text p-6 mt-14">
	                    <p class="text-2xl text-center font-bold t1" th:text="${gig.titre}">
	                        Test Titre 
	                    </p>
	                    <a th:href="@{/profile/{userId}(userId=${gig.user.id})}" style="margin-left:40%">
	                    	<span class="text-2xl text-center font-bold t1 " th:text="${gig.user.userName}">
				            	test owner username
							</span>
	                    </a>
	                    <p class="lg mt-8 t2" th:text="${gig.description}">
	                        Test Description
	                    </p>
	                </div>
	                <div class="Srv-Button p-4 d-flex justify-content-around align-items-center">
	                    <a class="enroll-button  text-xl font-medium test-btn py-2 px-4 mx-2" href="#">Enroll</a>
							<div style="color :black">
							<i class="fas fa-check" th:if="${user.enabled}" style="color:green"></i>
								Rated !
							</div>
	                </div>
	            </div>
	            <!-- End Card -->
            </div>
                                                            
            
        </Section>
    
	
	<hr style="height:5px;margin:10px;border-radius:5% " class="mt-5" th:if="${ ratedServices != null and ratedServices.size() > 0}">
	
	    
        <div class="Srv flex justify-left " th:if="${ ratedServices != null and ratedServices.size() > 0}">
            <p class="text-3xl ml-5">Other Services :</p>
        </div>
        <Section class="Srv-section flex justify-center mt-12 pt-24 justify-around flex-wrap">
            
            <div th:each="gig : ${gigs}">
            	<!-- Card -->
	            <div class="Srv-card w-80 rounded overflow-hidden my-4">
	                <div class="Srv-img">
	                    
							<img th:src="@{${gig.getImage().getPath()}}" >
						
	                </div>
	                <div class="Srv-time px-2 py-1 p mx-2 my-3">
	                <p   class="font-bold	" ><span th:text="${gig.prix}" style="padding:5px">Prix</span><span>DT</span></p>
	                </div>
	                <div class="Srv-face absolute">
	                    <img class="" th:src="@{${ gig.user.image.path }}" alt="">
	                </div>
	                <div class="Srv-text p-6 mt-14">
	                    <p class="text-2xl text-center font-bold t1" th:text="${gig.titre}">
	                        Test Titre 
	                    </p>
	                    <a th:href="@{/profile/{userId}(userId=${gig.user.id})}" style="margin-left:40%">
	                    	<span class="text-2xl text-center font-bold t1 " th:text="${gig.user.userName}">
				            	test owner username
							</span>
	                    </a>
	                    <p class="lg mt-8 t2" th:text="${gig.description}">
	                        Test Description
	                    </p>
	                </div>
	                <div class="Srv-Button p-4 mb-5 flex justify-center">
	                <div>
	                  <a class="enroll-button text-xl font-medium test-btn py-2 px-4 mx-2" href="#">Enroll</a>
	                </div>
	                  
						<div sec:authorize="isAuthenticated()" th:if="${ gig.getUser().getId() != currentLoggedInUser.getId() }">
	                    			
			             	<a  th:href="@{/User/rate/{gigId}(gigId=${gig.getId()})}" class="enroll-button text-xl font-medium test-btn py-2 px-4 mx-2">Rate</a>
			                    			
			            </div>
	                </div>
	            </div>
	            <!-- End Card -->
            </div>
                                                            
            
        </Section>
    
    <!-- End Intro Section  -->
  <div th:if="${gigs == null or gigs.size()== 0}" class="container d-flex justify-content-center align-items-center" style="padding:10rem">
    	<hr>
    	<span style="position:relative ; top:50%; color:black ; font-weight:bolder; font-size:30px ">No Services Found!</span>
    </div>
</div>
<script src="https://kit.fontawesome.com/73b41123f4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		
	$(document).ready(function () {
	    
	    $('#keyword').keyup( function () {
	    	console.log("aaa"  );
	    	$("[name='searchForm']").submit();
	    });
	    
	});
	
	</script>
</body>
</html>