<!-- table -->
<table class="table  my-table ">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Report Title</th>
            <th scope="col">Categorie</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><a href=""><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24" fill="currentColor" color="#000">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z">
                        </path>
                    </svg></a>
                <a href=""><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24" fill="" color="#000">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                            d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 000-1.41l-2.34-2.34a.996.996 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z">
                        </path>
                    </svg></a>
                <a href="">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        fill="currentColor" color="#000">
                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                        <path d="M21 3L3 10.53v.98l6.84 2.65L12.48 21h.98L21 3z"></path>
                    </svg>
                </a>
                <a href="">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        fill="currentColor" color="#000">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path
                            d="M12 6.34L21 3l-3.34 9L12 6.34zm10.61 13.44L4.22 1.39 2.81 2.81l5.07 5.07L3 9.69v1.41l7.07 2.83L12.9 21h1.41l1.81-4.88 5.07 5.07 1.42-1.41z">
                        </path>
                    </svg>
                </a>
            </td>

        </tr>

    </tbody>
</table>
</div>